* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

h1,
h2,
h3, .volver {
    text-align: center;
}

h1 {
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    padding: 0.5em;
}

h2 {
    font-size: 1.4rem;
    margin-block: 0.2em;
    padding: 0.4em;
}

h3 {
    font-size: 1.2rem;
    margin-block: 0.3em;
    color: white;
    padding: 0.2em;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

header p,
header a,
footer p,
footer a {
    color: white;
}

header *,
footer * {
    font-size: 0.9rem;
    font-weight: 500;
}

select {
    appearance: none;
    -webkit-appearence: none;
    -moz-appearence: none;
}

.mainContainer {
    display: block;
    margin: 0 auto;
    margin-bottom: 5.2em;
    max-width: 90%;
}

.flexContainer {
    display: flex;
}

.fullContainer {
    width: 100%;
    background-color: #457125;
    height: 4.5em;
    justify-content: space-evenly;
    align-items: center;
}

.tituloWeb, .favoritos, .headerVolver {
    font-size: 1.2rem;
}

.headerFavoritos {
    justify-content: space-between;
    padding-inline: 3em;
}

.buscador,
.botonBuscar,
.orientacion {
    line-height: 2rem;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: #457125;
}

.botonBuscar {
    margin-inline: 0.6em;
}

.buscador {
    padding-inline: 0.4em;
    padding-block: 0.1em;
    font-weight: 600;
}

.orientacion {
    padding-inline: 0.3em;
    padding-block: 0.1em;
}

.cajaCategorias,
.categoria {
    flex-direction: column;
}

.cajaCategorias,
.categoria,
.tresCategorias {
    justify-content: center;
    align-items: center;
}

.tresCategorias {
    flex-wrap: wrap;
}

.categoria {
    width: 40%;
    border: 3px solid #457125;
    background-color: #457125;
    border-radius: 30px;
    padding-inline: 0.5em;
    padding-bottom: 0.8em;
    margin: 0.8em;
}

.btn,
.imagenCategoria {
    cursor: pointer;
}

.btn {
    border-radius: 4px;
    padding-inline: 0.4em;
    padding-block: 0.1em;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.imagenCategoria {
    width: 95%;
}

.imagenCategoria>img {
    border-radius: 20px;
}

.containerGaleria {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    gap: 10px;
}

.articleImg {
    margin: 1em;
}

.favBtn, .elimBtn {
    padding: 0.8em;
    background-color: #457125;
    color: white;
}

.articleImg * {
    margin-block: 0.5em;
}

.volver {
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.errorDOM {
    font-size: 2rem;
    font-weight: 600;
}

/* Añadir esta clase al error de validación 
const buscador ('#buscador')
buscador.classList.add('.errorForm')
*/
.errorForm {
    background-color: #F5CCBA;
    border-color: #D83933;
}

/* ===============================
            768px
=================================== */
@media screen and (min-width:768px) {

    h1,
    h2,
    h3 {
        padding: 0.2em;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    header *,
    footer * {
        font-size: 1.2rem;
    }

    .categoria {
        width: 28%;
    }

    .containerGaleria {
        grid-template-columns: repeat(2, 45%);
    }
}

/* 768px */

/* ===============================
            992px
=================================== */

@media screen and (min-width:992px) {

    .mainContainer {
        max-width: 95%;
    }

    .containerGaleria {
        grid-template-columns: repeat(3, 30%);
    }

}

/* 992px */

/* ===============================
            1200px
=================================== */

@media screen and (min-width:1200px) {
    .mainContainer {
        max-width: 1300px;
    }
}

/* 1200px */