* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
}

h1,
h2,
h3,
.volver {
    text-align: center;
}

h1 {
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    padding: 0.5em;
}

h2 {
    font-size: 1.3em;
    margin-block: 0.2em;
    padding: 0.4em;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

header p,
header a,
footer p,
footer a {
    color: white;
}

header *,
footer * {
    font-size: 0.8rem;
    font-weight: 500;
}

select {
    appearance: none;
    -webkit-appearence: none;
    -moz-appearence: none;
}

.mainContainer {
    display: block;
    margin: 0 auto;
    margin-bottom: 5.2em;
    max-width: 90%;
}

.flexContainer {
    display: flex;
}

.fullContainer {
    width: 100%;
    background-color: rgb(81, 81, 81);
    height: 4em;
    justify-content: space-evenly;
    align-items: center;
}

.tituloWeb,
.favoritos,
.headerVolver {
    font-size: 1.2rem;
}

.headerFavoritos {
    justify-content: space-between;
    padding-inline: 3em;
}

.buscador,
.botonBuscar,
.orientacion {
    line-height: 2rem;
    border: none;
    border-radius: 4px;
    background-color: white;
}

.botonBuscar {
    margin-inline: 0.6em;
}

.buscador {
    padding-inline: 0.4em;
    padding-block: 0.1em;
    font-weight: 600;
}

.orientacion {
    padding-inline: 0.4em;
    padding-block: 0.1em;
}

.cajaCategorias,
.categoria {
    flex-direction: column;
}

.cajaCategorias,
.categoria,
.tresCategorias,
.contenedorPaginacion {
    justify-content: center;
    align-items: center;
}

.tresCategorias {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tresCategorias h3 {
    padding: 0.4em;
    color: #e67708;
    text-transform: uppercase;
}

.categoria {
    margin: 10px;
    width: 80%;
    height: 100%;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.4s;
}

.categoria:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.btn,
.imagenCategoria {
    cursor: pointer;
}

.btn {
    border-radius: 4px;
    padding-inline: 0.4em;
    padding-block: 0.1em;
    border: none;
}

.btn:hover {
    opacity: 0.7;
}

.imagenCategoria {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 0 0 14px 14px;
}

.imagenCategoria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* llena el contenedor sin deformarse */
    transition: transform 0.4s ease;
}

.containerGaleria {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    gap: 10px;
}

.articleImg {
    padding: 0.8em;
    margin: 1em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease;
    /*para suavizar el efecto scale al hacer hover*/
}

.articleImg img {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}

.articleImg:hover {
    transform: scale(1.08);
}

.favBtn,
.elimBtn,
.btnPaginacion,
.btnCambiarPagina {
    padding-inline: 0.8em;
    padding-block: 0.6em;
    background-color: #ff9d3a;
    color: white;
    font-size: 1rem;
}

.btnPaginacion,
.btnCambiarPagina {
    margin-inline: 0.3em;
    margin-block: 1em;
    padding: 1em;
}

.articleImg * {
    margin-block: 0.5em;
}

.volver {
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.errorDOM {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin: 1em;
}

.pError {
    color: #D83933;
    font-size: 1rem;
    margin-top: 0.5em;
    margin-left: 3em;
}

.errorForm {
    background-color: #F5CCBA;
    border-color: #D83933;
}

/* ===============================
            768px
=================================== */
@media screen and (min-width:768px) {

    h1,
    h2,
    h3 {
        padding: 0.2em;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    header *,
    footer * {
        font-size: 1.2rem;
    }

    .categoria {
        width: 28%;
    }

    .containerGaleria {
        grid-template-columns: repeat(2, 45%);
    }

    .pError {
        margin-left: 5em;
    }
}

/* 768px */

/* ===============================
            992px
=================================== */

@media screen and (min-width:992px) {

    .mainContainer {
        max-width: 95%;
    }

    .containerGaleria {
        grid-template-columns: repeat(3, 30%);
    }

    .pError {
        margin-left: 12em;
    }

}

/* 992px */

/* ===============================
            1200px
=================================== */

@media screen and (min-width:1200px) {
    .mainContainer {
        max-width: 1300px;
    }

    .pError {
        margin-left: 20em;
    }
}

/* 1200px */