############ Visual Studio cache/options ############
.vs/
.vscode/
ipch/
*.aps
*.ncb
*.opendb
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

.history/
*.code-workspace

############ OS-specific files (Windows, macOS, Linux) ############
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# Linux
*~
.nfs*

############ Backup and Miscellaneous Files ############
*.bak
*.old
*.orig
*.swp
*.swo
*.tmp
*.temp